body {
margin: 0%;
padding: 0%;
} 

header {
    display: flex;
    background: url('../image/journal.jpg') bottom no-repeat; 
    background-size: cover;
    align-items: center ;
    justify-content: center;
    height: 400px;
}

h1 {
    color: rgb(83, 11, 38);
    font-family: Georgia;
    font-size: 85px;
    font-weight:bolder;
    padding: 30px;
    border: 2px;
    border-width: 3px;
    border-color: rgb(61, 80, 187);
    border-style: dotted;
    border-radius: 15px;
}
nav {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
nav .menu {
margin-bottom: 50px;
}
nav .menu > a {
color: rgb(133, 21, 64);
padding: 0 25px;
font-size: 13px;
font-weight: 600;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
}
.copyright {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
text-align: center;
}
